{% extends 'base.html.twig' %}

{% block body %}
    <h3>Pay order</h3>
    <p>Total amount: <b>{{ paymentInfo.totalAmount }}</b></p>

    <a href="" class="btn btn-danger">Cancel</a>
    <a href="" class="btn btn-success">Pay</a>

{% endblock %}